# Activity 11

In [1]:
import sqlite3

Step 1. Connect to petsDB and check coonection

In [12]:
#Establish connection to petsdb
conn = sqlite3.connect(r"\Users\nickm\Documents\GitHub\Lesson08\Activity11\petsdb")

In [16]:
#Checking connection by selecting 1 row
conn.execute("SELECT * FROM pets LIMIT 1")

In [17]:
#checking connection of the persons table by retrieving data
cursor = conn.cursor()
rows = cursor.execute('SELECT * FROM persons LIMIT 10')
for row in rows:
    print(row)

(1, 'Erica', None, 22, 'south port', 2345678)
(2, 'Jordi', None, 73, 'east port', 123456)
(3, 'Chasity', None, 70, 'new port', 76856785)
(4, 'Gregg', None, 31, 'new port', 76856785)
(5, 'Tony', 'Lindgren', 7, 'west port', 2345678)
(6, 'Cary', None, 73, 'new port', 76856785)
(7, 'Gabe', 'Thompson', 54, 'new port', 9756543)
(8, 'Francisca', None, 14, 'west port', 123456)
(9, 'Katelyn', 'Torphy', 49, 'east port', 9756543)
(10, 'Raleigh', None, 68, 'new port', 2345678)

Step 2 Find the different age groups in the persons table

In [18]:
rows = cursor.execute('SELECT COUNT(*), age FROM persons GROUP BY age')
for row in rows:
    print(row)

(2, 5)
(1, 6)
(1, 7)
(3, 8)
(1, 9)
(2, 11)
(3, 12)
(1, 13)
(4, 14)
(2, 16)
(2, 17)
(3, 18)
(1, 19)
(3, 22)
(2, 23)
(3, 24)
(2, 25)
(1, 27)
(1, 30)
(3, 31)
(1, 32)
(1, 33)
(2, 34)
(3, 35)
(3, 36)
(1, 37)
(2, 39)
(1, 40)
(1, 42)
(2, 44)
(2, 48)
(1, 49)
(1, 50)
(2, 51)
(2, 52)
(2, 53)
(2, 54)
(1, 58)
(1, 59)
(1, 60)
(1, 61)
(2, 62)
(1, 63)
(2, 65)
(2, 66)
(1, 67)
(3, 68)
(1, 69)
(1, 70)
(4, 71)
(1, 72)
(5, 73)
(3, 74)

Step 3. Find the age group that has the maximum number of people

In [19]:
rows = cursor.execute('SELECT COUNT(*), age FROM persons GROUP BY age ORDER BY COUNT(*) DESC LIMIT 1')
for row in rows:
    print(row)

(5, 73)

Step 4. Find the people that do not have a last name

In [20]:
rows = cursor.execute("SELECT count(*) FROM persons WHERE last_name IS null")
for row in rows:
    print(row)

(60,)

Step 5. Find how many people have more than 1 pet

In [21]:
rows = cursor.execute("SELECT count(*) FROM (SELECT count(owner_id) FROM pets GROUP BY owner_id HAVING count(owner_id) >1)")
for row in rows:
    print(row)

(43,)

Step 6. How many pets have received treatment

In [23]:
rows = cursor.execute("SELECT count(*) FROM pets WHERE treatment_done=1")
for row in rows:
    print(row)

(36,)

Step 7. How many pets have received treatment and the type of pet

In [24]:
rows = cursor.execute("SELECT count(*) FROM pets WHERE treatment_done=1 AND pet_type IS NOT null")
for row in rows:
    print(row)

(16,)

Step 8: How many pets are there from the city called east port

In [26]:
rows = cursor.execute("SELECT count(*) FROM pets JOIN persons ON pets.owner_id = persons.id WHERE persons.city='east port'")
for row in rows:
    print(row)

(49,)

Step 9. How many pets are there from the city called east port and who received a treatment

In [27]:
rows = cursor.execute("SELECT count(*) FROM pets JOIN persons ON pets.owner_id = persons.id WHERE persons.city='east port' AND pets.treatment_done=1")
for row in rows:
    print(row)

(11,)